<h5 class="gray">検索結果</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" width="30%"></th>
      <th scope="col" width="30%">商品名</th>
      <th scope="col" width="40%"></th>
    </tr>
  </thead>

  <tbody>
    <% if @items != nil %>
      <% @items.each do |a_item| %>
      <tr>
        <td>
          <%= link_to item_path(a_item.id) do%>
            <%= image_tag a_item.image %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= link_to "#{a_item.name}", item_path(a_item.id) %></td>
      </tr>
      <tr></tr>
      <% end %>
    <% end %>
  </tbody>
</table>