<div class="row">
<div class="admin_customers_top ml-5 mb-3">
  <h5 class="gray ml-5">会員一覧</h5>
</div>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" width="15%">会員ID</th>
      <th scope="col" width="25%">氏名</th>
      <th scope="col" width="35%">メールアドレス</th>
      <th scope="col" width="25%">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% if @customers != nil %>
      <% @customers.each do |a_customer|%>
      <tr>
        <td><%= a_customer.id %></td>
        <td><%= link_to "#{a_customer.family_name}#{a_customer.personal_name}", admin_customer_path(a_customer.id) %></td>
        <td><%= a_customer.email %></td>
        <td>
          <% status=a_customer.is_deleted %>
          <% if status==false %>
            <b class="text-success">有効</b>
          <% else %>
            <b class="text-black-50">退会</b>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pager">
  <%= paginate @customers %>
</div>

