@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width:100%;
  hight:80px;
  padding: 40px 0;
  position: relative;
  text-align:center;
  border-bottom:1px solid;
}

.main{
  margin-top:15px;
}

body{
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: 100vh;
}

.footer{
  width:100%;
  height:40px;
  border-top:1px solid;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.logo{
  width:180px;
  height:45px;
  position: absolute;
  top:25px;
  left:40px;
  border:1px solid gray;
}

.header_message{
  position:fixed;
  top:30px;
  left:500px;
}

.header_items{
  position: absolute;
  top: 15px;
  right: 20px;
  display:flex;
}

.header_item{
  width:110px;
  height:45px;
  margin-left:30px;
  text-align:center;
  padding-top:8px;
  border:1px solid gray;
  border-radius: 5px;

}

.header_search{
  position: absolute;
  top: 60px;
  right: 150px;
}

// テーブルの装飾
table, tr, td {
  border-collapse: collapse;
  padding: 5px;
}

.table{
  width:80%;
  margin:auto;
}

// 背景をグレーにしたいインライン要素に指定
.gray{
  display:inline;
  background-color:#e5e5e5;
}

// ペイジャーの親divをclass="pager"とする
.pager{
  width:300px;
  height:20px;
  margin:auto auto 10px auto;
  text-align:center;
  background-color:lightblue;
}

.home_search{
  width:200px;
  height:300px;
  margin:10px;
  background-color:skyblue;
  border:solid black;
}

.home_serch_top{
  width:197px;
  border-bottom:solid black;
  text-align:center;
}

.home_serch_list{
  width:200px;
  padding:10px;
}

.home_photo{
  width:600px;
  height:300px;
  margin:10px;
  background-color:pink;
  padding:80px;
}

.home_items_box{
  display:flex;
}

.home_items{
  width:200px;
  height:150px;
  margin:10px;
}

.home_items_photo{
  width:200px;
  height:100px;
  background-color:orange;
}

.home_to_items{
  text-align:right;
}


.about{
  text-align:center;
}

.about_photo{
  width:500px;
  height:250px;
  background-color:pink;
  margin:10px auto;
}

  // login画面のcss
.login_top{
  width:100px;
  margin:0 0 0 100px;
  text-align:center;
}

.admin_login_top{
  width:200px;
  margin:0 0 0 100px;
  text-align:center;
}

.login_second{
  width:300px;
  margin:20px 20px 20px 150px;
  text-align:center;
}


.login_items{
  width:800px;
  margin:auto;
}


.login_item{
  width:400px;
}

.login_button{
  padding-top:30px;
}

// signup画面のcss

.sign_up_items{
  width:900px;
  margin:auto;
}

.sign_up_label{
  text-align:right;
}

.sign_up_address{
  width:500px;
}

.sign_up_button{
  width:160px;
}

.signin_second{
  width:200px;
  margin:20px 20px 20px 150px;
  text-align:center;
}

// adminのtop（注文履歴一覧）
.admin_top{
  margin:20px 20px 20px 150px;
}